<!DOCTYPE html>
<html>
<head>
    <title>Youtube Download</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Youtube Download</h1>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        <form action="/download" method="post" autocomplete="off">
            <div class="form-group">
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter YouTube URL" required>
            </div>
            <button type="submit" class="btn btn-primary">Download</button>
        </form>
    </div>
</body>

</html>
